
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/my fav.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    color: #007BFF;
}

.hidden {
    display: none;
}

.basic-link{
    color: white;
    text-decoration: none; /* Optional: Remove underlines on the link */
    transition: color 0.3s; /* Optional: Add a smooth color transition */
}
.premium-link{
color: white;
    text-decoration: none; /* Optional: Remove underlines on the link */
    transition: color 0.3s; /* Optional: Add a smooth color transition */
}
.basic-link:hover{
    color:aqua;
}
.premium-link:hover{
    color:aqua;
}